.u-section-1 .u-sheet-1 {
  min-height: 3047px;
}

.u-section-1 .u-text-1 {
  background-image: none;
  text-transform: uppercase;
  margin: 46px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: 13px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 465px;
  height: 376px;
  margin: -2535px auto 0 72px;
}

.u-section-1 .u-image-2 {
  width: 513px;
  height: 360px;
  margin: -360px 90px 0 auto;
}

.u-section-1 .u-image-3 {
  width: 444px;
  height: 377px;
  margin: 11px auto 0 82px;
}

.u-section-1 .u-image-4 {
  width: 446px;
  height: 357px;
  margin: -357px 123px 0 auto;
}

.u-section-1 .u-image-5 {
  width: 375px;
  height: 297px;
  margin: 261px auto 60px 293px;
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    margin-right: 337px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    margin-right: 200px;
  }

  .u-section-1 .u-image-2 {
    margin-right: 27px;
  }

  .u-section-1 .u-image-4 {
    margin-right: 94px;
  }

  .u-section-1 .u-image-5 {
    margin-left: 165px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2624px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 275px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 239px;
    margin-top: -259px;
    margin-right: 0;
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 289px;
    margin-left: 0;
  }

  .u-section-1 .u-image-4 {
    width: 340px;
    height: 272px;
    margin-top: -269px;
    margin-right: 0;
  }

  .u-section-1 .u-image-5 {
    width: 340px;
    height: 269px;
    margin-left: 0;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 668px;
}

.u-section-2 .u-video-1 {
  height: 614px;
  width: 363px;
  margin: 27px auto;
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 549px;
  }

  .u-section-2 .u-video-1 {
    height: 300px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 473px;
  }

  .u-section-2 .u-video-1 {
    height: 576px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 429px;
}

.u-section-3 .u-text-1 {
  font-size: 1.125rem;
  margin: 15px 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  padding: 0;
}